[Unit]
Description=Start tmux in detached session

[Service]
Type=forking
User=%I
ExecStart=/usr/bin/tmux new-session -s %u_ts -d
ExecStop=/usr/bin/tmux kill-session -t %u_ts

[Install]
WantedBy=multi-user.target
